<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="/Main/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <aside class="AsidePanel">
        <button class="title">ТИК-БД</button>
        <div class="LeftMenu">
            <div class="line"></div>
            <div class="MainMenu">
                <button class="ButtonMenu" id="ShowRecords" onclick="ShowTab('Records',this)">Просмотр записей</button>
                <button class="ButtonMenu" id="ShowRequests" onclick="ShowTab('Request',this)">Просмотр запросов</button>
                <button class="ButtonMenu" id="ShowSettings" onclick="ShowTab('Settings',this)">Настройки</button> 
            </div>
        </div>
    </aside>
    <main class=MainPanel>
        <!-- <div class="TopPanel">
            <button class="ButtonTopMenu">Кнопка 1</button>
            <button class="ButtonTopMenu">Кнопка 2</button>
            <button class="ButtonTopMenu">Кнопка 3</button>
        </div> -->
        <div class="Main" >
            <div id="Records" class="page">
                <div class="Records">
                    <div id="tree" Class="TreeDB">
                        <h3>Базы данных</h3>
                        <ul id="databaseTree"></ul>
                        </div>
                        <div class="ViewColection" id="Colection">
                        <div id="filters" class="Filter">

                            <h3>Фильтр</h3>

                            <div id="filterContainer"></div>

                            <button id="addFilter">
                                Добавить
                            </button>

                            <button id="search">
                                Поиск
                            </button>

                        </div>
                        <!-- <table id="documents">

                            <thead>

                            <tr id="header"></tr>

                            </thead>

                            <tbody id="body"></tbody>

                        </table> -->
                        <div id="treeContainer"></div>
                    </div>
                </div>
            </div>
            <div id="Request" class="page" style="display: none;">
                <div>

                </div>
            </div>
            <div id="Settings" class="page" style="display: none;">
                <div class="Setting">
                    <div class="MenuSetting">
                        <button class="ButtonMenuSetting" id="ShowAuth" onclick="ShowTabSetting('Auth',this)">Авторизация</button>
                    </div>
                    <div class="MainPanelSetting">
                        <div class="pageSetting" id="Auth">
                            <div id="auth_data">
                                <p>
                                    <input type="text" placeholder="Логин" id="logintext" name="logintext">
                                </p>
                                <p>
                                    <input type="password" placeholder="Пароль" id="password" name="password">
                                </p>

                                <input type="hidden" id="gmt" name="gmt" value="11">
                                <p></p>
                                <p>
                                    <button id="login">Вход</button>
                                </p>
                            </div>
                        </div>
                        <div class="pageSetting" style="display: none;"> </div>
                        <div class="pageSetting" style="display: none;"> </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script src="scripts.js"></script>
</body>
</html>